<app-heading></app-heading>
<ion-content [fullscreen]="true" *ngIf="recipe">
  <div class="ion-padding ion-text-center">
    <h2>{{ recipe.title }}</h2>
    <ion-img alt="Image of {{ recipe.title }}" src="{{ recipe.image }}">
    </ion-img>
  </div>
  <ion-list [inset]="true">
    <ion-list-header>
      <h2>Ingredients</h2>
    </ion-list-header>
    <ion-item *ngFor="let ingredient of recipe.extendedIngredients">
      <ion-img
        [src]="'https://spoonacular.com/cdn/ingredients_100x100/' + ingredient.image"
        alt="Image of {{ ingredient.original }}"
        slot="start"
        style="width: 50px"
      >
      </ion-img>
      <ion-label *ngIf="preferredMeasurementUnit === 'Metric'">
        <p>{{ ingredient.original }}</p>
        <p>
          {{ ingredient.measures.metric.amount }} {{
          ingredient.measures.metric.unitLong }}
        </p>
      </ion-label>
      <ion-label *ngIf="preferredMeasurementUnit === 'US'">
        <p>{{ ingredient.original }}</p>
        <p>
          {{ ingredient.measures.us.amount }} {{
          ingredient.measures.us.unitLong}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header>
      <h2>Instructions</h2>
    </ion-list-header>
    <ion-item
      *ngFor="let instruction of recipe.analyzedInstructions['0'].steps"
    >
      <ion-label> {{ instruction.number }}. {{ instruction.step }} </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding-start ion-padding-bottom">
    <ion-button id="open-toast" expand="block" (click)="toggleFavourite()" aria-label="Toggle favourites">
      <ion-icon [name]="favourited ? 'heart-dislike' : 'heart'"></ion-icon>
      {{ favourited ? ' Unfavourite' : ' Favourite'}}
    </ion-button>
  </div>

  <ion-toast trigger="open-toast" [message]="favourited ? 'Added to Favourites' : 'Removed fron Favourites'" [duration]="2000"></ion-toast>
</ion-content>
